footer.footer.u-margin-top-medium
    .logo.u-margin-bottom-small-2
            h3.logo__main.logo__main--footer Foodies Blog
            p.logo__sub.logo__sub--footer Blog de recetas fáciles & deliciosa
  
    div.footer__box
        ul.footer__nav
            li: a(href="#") About us
            li: a(href="#") Contact
            li: a(href="#") Download apps

        p.footer__copyright &copy; by Lissbeth Escobar Cisneros | October 2023. All rights reserved
