section.section-recipeType.recipeType
    h1.heading-1.u-margin-bottom-medium.recipeType__h1 Recetas Que Ofrecemos

    div.recipeType__box
        a.recipeType__link(href="/savoryRecipe")
            p.paragraph Recetas
            p.paragraph Salada
        img.recipeType__img(src="/img/recipes/recetaSalada.jpg")

    div.recipeType__box
        a.recipeType__link(href="/vegetarianRecipe")
            p.paragraph Recetas
            p.paragraph Vegetariana
        img.recipeType__img(src="/img/recipes/recetaVegana.jpg")

    div.recipeType__box
        a.recipeType__link(href="/sweetRecipe")
            p.paragraph Recetas
            p.paragraph.recipeType__veg Dulces
        img.recipeType__img(src="/img/recipes/recetaDulce.jpg")