extends base

block content

  main.content
    section.section-form 
      form.form.form--signup
        h1.heading-1.u-center-text.heading-1--gradient Registrarse

        div.form__group
          label(for="name").form__label Nombre
          input#name.form__input(type='text', placeholder='Su nombre', required)

        div.form__group
          label(for="email").form__label Correo electrónico
          input#email.form__input(type='email', placeholder='you@example.com', required)

        div.form__group
          label(for="password").form__label Contraseña
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        
        div.form__group
          label.form__label(for='passwordConfirm') Confirmación de contraseña
          input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')

        div.form__group
          button(type="submit").btn.btn--main.form__btn Inscribirse &#8594;