extends base

block content
    main.content
        section.section-overview.section-overview--user
            h1.heading-1.heading-1--light.u-margin-bottom-medium.u-center-text Recetas de nuestros usuarios

            include _recipeCard