extends base

block content
    main.content
        section.section-overview
            h1.heading-1.heading-1--light.u-margin-bottom-small-2.u-center-text Nuestros deliciosos platos vegetarianos.
            p.paragraph.paragraph--overview.u-margin-bottom-medium.u-center-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis bibendum ut tristique. Donec adipiscing tristique risus nec feugiat in fermentum. A pellentesque sit amet porttitor eget dolor. Condimentum id venenatis a condimentum vitae sapien pellentesque habitant. Ut diam quam nulla porttitor massa id.

            include _recipeCard
            