///////////////////////////////
//  C O L O R

$color-primary: #161d6f;
$color-secondary: #98ded9;
$color-terciary-light: #c7ffd8;

$color-light: #f6f6f6;
$color-dark: #000326;

$gradient: linear-gradient(
  to left top,
  #161d6f,
  #00529a,
  #0082b4,
  #43b1c6,
  #98ded9
);

///////////////////////////////
//  F O N T
$font-pacifico: 'Pacifico', cursive;
$font-sans-serif: 'Montserrat', sans-serif;
$font-size-default: 1.6rem;
